*{
    font-family: 'Inter', sans-serif;
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
    border:none
}

.header{
    position: absolute;
    width: 100%;
    height: 99px;
    left: 0px;
    top: 0px;
    background: rgba(1, 33, 105, 0.08);
}

#Categorias{
    position: absolute;
    height: 14px;
    left: 275px;
    top: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #012169;
    
}

#ParaProfissionais{
    position: absolute;
    height: 14px;
    left: 405px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #012169;
}

#ComoFunciona{
    position: absolute;
    height: 14px;
    left: 580px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #012169;
}

#Suporte{
    position: absolute;
    height: 14px;
    left: 740px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #012169;
}

#SobreNos{
    position: absolute;
    height: 14px;
    left: 845px;
    top: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #012169;
}

#CriarConta {
    position: absolute;
    width: 88px;
    height: 19px;
    left: 1090px;
    top: 40px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #012169;

}

#Entrar {
    position: absolute;
    width: 61px;
    height: 19px;
    left: 1106px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 127px;
    height: 53px;
    left: 1190px;
    top: 23px;
    text-decoration: none;
    background: #012169;
    border-radius: 8px;
}

.menu{
list-style: none;
}

.logo {
    margin-left: 90px;
    margin-top: -12px;
}
